<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head th:fragment="common_head">

    <link rel="icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          media="screen"/>
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"
          media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/default.min.css">


    <link href="/static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Integratie Project 2</title>

</head>
<body>
</body>
</html>